#container {
  display: grid;
  grid-template-columns: 60% 40% ;
  grid-gap: 5px;

}
section {
  float : left;

}
table{
  border: 1px solid black;
  border-spacing: 15px;
  text-align: center;
  background-color: #2196F3;
}
td {
  border : none;
  padding: 5px;
  
  background-color: rgba(255, 255, 255, 0.8);
}
